- name: "Cleanup"
  environment: '{{ params }}'
  shell: |
     aws ec2 terminate-instances \
          --instance-ids $(aws ec2 describe-instances \
                            --query 'Reservations[].Instances[].InstanceId' \
                            --filters "Name=tag:ProjectService,Values=AMI-{{ params["ProjectName"] }}-{{ params["ServiceName"] }}" \
                            --output text) || echo "No instance"

- name: 'Create temporary build directory'
  tempfile:
    state: directory
    suffix: build
  register: build_dir 

- name: 'Set build tag'
  set_fact:
    build_tag: 'build-{{ params["ProjectName"] }}-{{ params["ServiceName"] }}.b{{ params["BuildId"] }}'
    ami_dir: '{{ build_dir.path }}/ami'

- name: 'Get current instance metadata'
  ec2_metadata_facts:
  retries: 5
  delay: 10
  register: result
  until: result is not failed

- name: 'Create .ami directory to keep temoprary data'
  file:
    path: '{{ ami_dir }}'
    state: directory
    mode: '0700'
    
- name: 'Pick same AMI as current instance'
  set_fact:
    ami_id: '{{ ansible_ec2_ami_id }}'
    
- debug:
    var: ami_id
    
- name: 'Find AMI-build security group'
  ec2_group_info:
    region: '{{ ansible_ec2_placement_region }}'
    filters:
      group-name: 'AMI-Build-SG'
  register: amibuild_sg
  ignore_errors: True
  
- debug: 
    var: amibuild_sg

- name: 'Create security group for access to this instance'
  ec2_group:
    name: 'AMI-Build-SG'
    description: 'Allow access from build server'
    vpc_id: "{{ hostvars['localhost']['ansible_ec2_network_interfaces_macs_' + hostvars['localhost']['ansible_ec2_mac'].replace(':', '_') + '_vpc_id'] }}"
    region: '{{ ansible_ec2_placement_region }}'
    rules:
      - proto: tcp
        ports:
          - 22
        group_id: "{{ hostvars['localhost']['ansible_ec2_network_interfaces_macs_' + hostvars['localhost']['ansible_ec2_mac'].replace(':', '_') + '_security_group_ids'].split(',')[0] }}"
        rule_desc: 'Allow SSH for building'
  register: ami_sg
  when: amibuild_sg is not defined or amibuild_sg.security_groups | length == 0

- name: 'Set AMI Build security group ID from amibuild_sg'
  set_fact:
    sg_group_id: "{{ amibuild_sg.security_groups[0].group_id }}"
  when: amibuild_sg.security_groups | selectattr("group_id", "defined") | list | length >0

- name: 'Set AMI Build security group ID from ami_sg'
  set_fact:
    sg_group_id: "{{ ami_sg.group_id }}"
  when: "ami_sg is defined and 'group_id' in ami_sg"

- debug:
    var: sg_group_id

- name: 'Get config from Parameter Store'
  shell: |
     config="$(aws ssm get-parameter \
                --name '/install/config' \
                --query 'Parameter.Value' \
                --output text || echo "{}")"
     
     echo "Current config"
     echo $config
     public_ip="True"
     if [[ "$(echo $config | jq -r '.builder."associate-public-ip-address" // empty')" == "False" ]]; then 
       public_ip="False"
     fi
     echo $public_ip
  register: config_parameter
  ignore_errors: true 

- debug: 
    msg: "Config stdout: {{ config_parameter.stdout_lines }}"

- debug: 
    msg: "Public ip: {{ config_parameter.stdout_lines | last | bool }}"

- name: 'Get AWS account ID'
  shell: aws sts get-caller-identity --query Account --output text
  register: aws_account_id_result

- name: 'Set AWS account ID fact'
  set_fact:
    aws_account_id: '{{ aws_account_id_result.stdout }}'

- debug:
    msg: "AWS Account ID: {{ aws_account_id }}"

- name: 'Create KMS key for EBS encryption'
  community.aws.kms_key:
    alias: 'alias/ami-build-{{ params["ProjectName"] }}-{{ params["ServiceName"] }}'
    description: 'KMS key for AMI build encryption - {{ params["ProjectName"] }}/{{ params["ServiceName"] }}'
    region: '{{ ansible_ec2_placement_region }}'
    enabled: yes
    state: present
    policy: |
      {
        "Version": "2012-10-17",
        "Statement": [
          {
            "Sid": "Enable IAM User Permissions",
            "Effect": "Allow",
            "Principal": {
              "AWS": "arn:aws:iam::{{ aws_account_id }}:root"
            },
            "Action": "kms:*",
            "Resource": "*"
          },
          {
            "Sid": "Allow use of the key for EC2",
            "Effect": "Allow",
            "Principal": {
              "Service": "ec2.amazonaws.com"
            },
            "Action": [
              "kms:Decrypt",
              "kms:Encrypt",
              "kms:ReEncrypt*",
              "kms:GenerateDataKey*",
              "kms:CreateGrant",
              "kms:DescribeKey"
            ],
            "Resource": "*"
          }
        ]
      }
    tags:
      Project: '{{ params["ProjectName"] }}'
      Service: '{{ params["ServiceName"] }}'
      Purpose: 'AMI-Build-Encryption'
  register: kms_key_result

- debug:
    msg: "KMS Key ID: {{ kms_key_result.key_id }}"
    
- name: 'AMI Creation'
  block:
   - name: 'Delete key pair if exits'
     ec2_key:
       name: '{{ build_tag }}'
       region: '{{ ansible_ec2_placement_region }}'
       state: absent

   - name: 'Create new temporary key pair'
     ec2_key:
       name: '{{ build_tag }}'
       region: '{{ ansible_ec2_placement_region }}'
     register: ec2_key_result

   - debug:
       var: ec2_key_result.msg
 
   - name: 'Save private key'
     copy:
       content: '{{ ec2_key_result.key.private_key }}'
       dest: '{{ ami_dir }}/{{ build_tag }}.pem'
       mode: '0600'
 
   - name: 'Launch temporary instance'
     amazon.aws.ec2_instance:
       network:
         assign_public_ip: '{{ config_parameter.stdout_lines | last | bool }}'
       region: '{{ ansible_ec2_placement_region }}'
       key_name: '{{ build_tag }}'
       security_group: '{{ sg_group_id }}'
       instance_type: m5.xlarge
       iam_instance_profile: "{{ hostvars['localhost']['ansible_ec2_iam_info_instanceprofilearn'] }}"
       vpc_subnet_id: "{{ hostvars['localhost']['ansible_ec2_network_interfaces_macs_' + hostvars['localhost']['ansible_ec2_mac'].replace(':', '_') + '_subnet_id'] }}"
       image_id: '{{ ami_id }}'
       wait: yes
       wait_timeout: 500
       exact_count: 1
       volumes:
        - device_name: /dev/xvda
          ebs:
            volume_size: 300
            delete_on_termination: true
            encrypted: true
            kms_key_id: '{{ kms_key_result.key_id }}'
       tags:
         role: '{{ build_tag }}'
         Name: 'AMI-{{ params["ProjectName"] }}-{{ params["ServiceName"] }}-{{ params["BuildId"] }}'
         ProjectService: 'AMI-{{ params["ProjectName"] }}-{{ params["ServiceName"] }}'
     register: ami_instance

   - name: 'Print instance data'
     debug:
       var: ami_instance

   - name: 'Add host to group'
     add_host:
       name: '{{ ami_instance.instances.0.network_interfaces.0.private_ip_address }}'
       groups: 'just_created'
       ansible_connection: 'ssh'
       ansible_ssh_private_key_file: '{{ ami_dir }}/{{ build_tag }}.pem'
       ansible_user: 'ec2-user'

   - name: 'Wait for SSH to be ready {{ ami_instance.instances.0.network_interfaces.0.private_ip_address }}'
     wait_for:
       host: '{{ ami_instance.instances.0.network_interfaces.0.private_ip_address }}'
       port: 22
       search_regex: 'OpenSSH'
       timeout: 300
   - set_fact: 
       /usr/bin/python3
       
   - name: 'Trust new host'
     shell: 'ssh-keyscan -p 22  {{ ami_instance.instances.0.network_interfaces.0.private_ip_address }} > /home/build/.ssh/known_hosts'

   - name: 'Copy certificates to target'
     shell: |
        set -euo pipefail
        export remote_host={{ ami_instance.instances.0.network_interfaces.0.private_ip_address }}
        export remote_user="ec2-user"
        export remote_key={{ ami_dir }}/{{ build_tag }}.pem

        ls -la /opt/cert
        
        echo "Copy certs"
        scp -i ${remote_key} -r \
             /opt/cert  \
             ${remote_user}@${remote_host}:/tmp/cert

        echo "Make certs dir"
        ssh -i ${remote_key} \
             ${remote_user}@${remote_host} \
             sudo mkdir -p /opt/cert

        echo "Position certs trust"
        ssh -i ${remote_key} \
             ${remote_user}@${remote_host} \
             sudo cp /tmp/cert/* /etc/pki/ca-trust/source/anchors/

        echo "Position certs opt"
        ssh -i ${remote_key} \
             ${remote_user}@${remote_host} \
             sudo cp /tmp/cert/* /opt/cert/

        echo "Update ca-trust"
        ssh -i ${remote_key} \
             ${remote_user}@${remote_host} \
             sudo update-ca-trust extract
             
   - name: 'Execute installation roles'
     include_role:
       name: '{{ install_role }}'
       apply:
         become: true
         delegate_to: '{{ groups.just_created[0] }}'
         vars:
           ansible_python_interpreter: "/usr/bin/python3"

     with_items: '{{ installation_roles }}'
     loop_control:
       loop_var: install_role
     when: installation_roles is defined

   - name: 'Create AMI'
     ec2_ami:
       instance_id: '{{ ami_instance.instances.0.instance_id }}'
       region: '{{ ansible_ec2_placement_region }}'
       state: present
       description: 'This was provisioned for {{ build_tag }}'
       name: '{{ build_tag }}'
       wait: yes
       root_device_name: /dev/sda
       device_mapping:
         - device_name: /dev/sda
           volume_type: gp3
           delete_on_termination: true
           encrypted: true
     register: amioutput

   - name: 'Add AMI Id to artifacts'
     include_role:
       name: alpha-build-lib/add-artifact
     vars:
       artifact_key: 'AmiId'
       artifact_value: '{{ amioutput.image_id }}'


   - name: 'Print AMI data'
     debug:
       var: amioutput

  always:
    - name: 'Sleep before termination'
      shell: |
         sleep 30
         
    - name: 'Terminate temporary instance'
      ec2_instance:
        state: absent
        region: '{{ ansible_ec2_placement_region }}'
        instance_ids: '{{ ami_instance.instances.0.instance_id }}'


    - name: 'Remove temporary key pair'
      ec2_key:
        name: '{{ build_tag }}'
        region: '{{ ansible_ec2_placement_region }}'
        state: absent

    - name: 'Delete private key file'
      file:
        path: '~/.ami/{{ build_tag }}.pem'
        state: absent
