- name: 'Print release'
  shell: 'cat /etc/*release'

- name: 'Print release'
  shell: 'uname -r'

- name: 'Crete docker group'
  group:
    name: docker
    gid: 10999

- name: 'Create group'
  group:
    name: "{{ user_name }}"
    gid: 2024
    system: yes
    state: present

- name: 'Crete user'
  user:
    name: '{{ user_name }}' 
    uid: 2025
    group: '{{ user_name }}'
    groups: 
    - docker
    system: yes
    state: present

- name: Create /etc/environment
  blockinfile:
    path: /etc/environment
    create: yes
    block: |
      {% for key, value in params.items() %}
      {{ key }}="{{ value }}"
      {% endfor %}

- name: Add exports to /etc/bashrc
  blockinfile:
    path: /etc/bashrc
    block: |
      {% for key, value in params.items() %}
      export {{ key }}="{{ value }}"
      {% endfor %}
  
# basic packages
- name: 'Install basic packages via dnf'
  yum:
    use_backend: dnf
    name:
      - python3-pip
      - zip
      - unzip
      - jq
      - wget
      - net-tools
      - tcpdump
      - telnet
      - openssh-clients
      - bind-utils
      - vim
      - bash-completion
      - less
      - man
      - nfs-utils
      - gettext
      - tree
      - git
    state: latest
  register: result
  retries: 10
  delay: 20
  until: result is not failed

# Install dnf-plugins-core for config-manager
- name: 'Install dnf-plugins-core'
  yum:
    use_backend: dnf
    name: dnf-plugins-core
    state: present

- name: 'Install Docker from official repository'
  yum:
    use_backend: dnf
    name:
      - docker
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
  register: result
  retries: 10
  delay: 20
  until: result is not failed

    
- name: 'Setup docker'
  environment: '{{ params }}'
  become: true
  shell: |
    set -e
    echo '{ "features": { "buildkit": true } }' > /etc/docker/daemon.json

    systemctl enable --now docker

    echo "Check docker and compose version"
    docker version
    docker compose version
    
    echo "vm.max_map_count=262144" >> /etc/sysctl.conf

- name: "Install python dependencies for root"
  environment: '{{ params }}'
  register: result
  retries: 3
  delay: 10
  until: result is not failed
  ansible.builtin.pip:
    name:
    - pyjwt
    - requests
    - urllib3
    - boto3
    - jinja2
    executable: pip3

- name: 'Install AWS cli'
  environment: '{{ params }}'
  shell: |
     set -e 
     curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip" 
     unzip -qq awscliv2.zip 
     ./aws/install
  register: result
  retries: 3
  delay: 10
  until: result is not failed



- include_tasks: traefik.yml
