- name: 'Print release'
  shell: 'cat /etc/*release'

- name: 'Print release'
  shell: 'uname -r'

- name: 'Crete docker group'
  group:
    name: docker
    gid: 10999

- name: 'Create group'
  group:
    name: "{{ user_name }}"
    gid: 2024
    system: yes
    state: present

- name: 'Crete user'
  user:
    name: '{{ user_name }}' 
    uid: 2025
    group: '{{ user_name }}'
    groups: 
    - docker
    system: yes
    state: present

- name: Create /etc/environment
  blockinfile:
    path: /etc/environment
    create: yes
    block: |
      {% for key, value in params.items() %}
      {{ key }}="{{ value }}"
      {% endfor %}

- name: Add exports to /etc/bashrc
  blockinfile:
    path: /etc/bashrc
    block: |
      {% for key, value in params.items() %}
      export {{ key }}="{{ value }}"
      {% endfor %}
  
# basic packages
- name: 'Install basic packages via dnf'
  yum:
    use_backend: dnf
    name:
      - python3-pip
      - zip
      - unzip
      - jq
      - wget
      - net-tools
      - tcpdump
      - telnet
      - openssh-clients
      - bind-utils
      - vim
      - bash-completion
      - less
      - man
      - nfs-utils
      - gettext
      - tree
      - git
    state: latest
  register: result
  retries: 10
  delay: 20
  until: result is not failed

# Install dnf-plugins-core for config-manager
- name: 'Install dnf-plugins-core'
  yum:
    use_backend: dnf
    name: dnf-plugins-core
    state: present

- name: 'Install Docker from official repository'
  yum:
    use_backend: dnf
    name:
      - docker
    state: present
  register: result
  retries: 10
  delay: 20
  until: result is not failed

    
- name: 'Setup docker'
  environment: '{{ params }}'
  become: true
  shell: |
    set -e
    echo '{ "features": { "buildkit": true } }' > /etc/docker/daemon.json

    systemctl enable --now docker

    echo "Check docker and compose version"
    docker version
    docker compose version
    
    echo "vm.max_map_count=262144" >> /etc/sysctl.conf

- name: 'Define Docker Plugin Versions'
  set_fact:
    buildx_version: "v0.20.1"
    compose_version: "v2.32.4"

- name: 'Install Docker Buildx Plugin'
  get_url:
    url: "https://github.com/docker/buildx/releases/download/{{ buildx_version }}/buildx-{{ buildx_version }}.linux-amd64"
    dest: /usr/libexec/docker/cli-plugins/docker-buildx
    mode: '0755'
    force: yes  # Ensures it updates if you change the version

- name: 'Install Docker Compose Plugin'
  get_url:
    url: "https://github.com/docker/compose/releases/download/{{ compose_version }}/docker-compose-linux-x86_64"
    dest: /usr/libexec/docker/cli-plugins/docker-compose
    mode: '0755'
    force: yes


- name: 'Version check'
  shell: |
    set -e
    docker buildx version
    docker compose version

- name: "Install python dependencies for root"
  environment: '{{ params }}'
  register: result
  retries: 3
  delay: 10
  until: result is not failed
  ansible.builtin.pip:
    name:
    - pyjwt
    - requests
    - urllib3
    - boto3
    - jinja2
    executable: pip3

- name: 'Install AWS cli'
  environment: '{{ params }}'
  shell: |
     set -e 
     curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip" 
     unzip -qq awscliv2.zip 
     ./aws/install
  register: result
  retries: 3
  delay: 10
  until: result is not failed



- include_tasks: traefik.yml
